* {
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Todo {
    background-image: url(/Fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header"
        "Cuerpo Contenido Contenido"
        "footer footer footer";


}

header {
    background-color: whitesmoke;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 6.875em;
    grid-area: header;
    border-style: inherit;
}

H1 {
    margin-left: 0.1em;
    line-height: 6.25em;
    font-size: 4em;
    color: green;
    display: none;
}

h2 {
    color: green;
    text-align-last: center;
    flex-wrap: wrap;
    font-size: 1em;
    margin-left: 25em;
}

footer {
    color:green;
    background-color: rgb(189, 243, 168);
    text-align: center;
    line-height: 1.875em;
    height: 1.875em;
    font: Arial;
    grid-area: footer;
}

.Cuerpo {
    margin-right: 0.625em;
    background-color: whitesmoke;
    padding-top: 0.16em;
    border-color:rgb(189, 243, 168);
    border-style: solid;
    grid-area: Cuerpo;
    border-radius: 0 20px 20px 0;
}

.Contenido img {
    height: 76vh;
    margin-top: 0.4375em;
    width: 59.375em;
    align-self: center;
    border-radius: 0.625em;
}

h3 {
    color: green;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: flex-start;
    text-align-last: auto;
    margin-left: 0.625em;
    margin-right: 1.25em;
    font-size: 1.25em;
}

p {
    color: green;
    padding-top: 0.625em;
    padding-bottom: 1em;
    align-items: flex-start;
    text-align-last: auto;
    margin-left: 0.625em;
    margin-right: 1.25em;
    font-size: 1.06em;

}

ul {
    position: absolute;
    top: 20vh;
}
ul li {
    list-style: none;
    width: 21em;
    height: 1.875em;
    display: flex;
    margin: 0.7em;
    cursor: pointer;
    margin-left: 1em;
    color: white;
    font-weight: bolder;
    opacity: 0.9;
    font-size: 1em;
    align-items: center;
    background-color: rgba(20, 120, 37, 0.7);
    padding: 5px;
    border-radius: 3px;
}

h5 {
    bottom: 0.03em;
    color: green;
    align-content: space-between;
    font-size: 1em;
    margin-right: 0.03em;
}

.btn:hover {
    padding: 5px;
    color: white;
    text-shadow: 0 0 5px white;
    font-weight: bolder;
    opacity: 1;
    border: 1px solid white;
    box-shadow: 0 0 15px white;
    
}

h1:hover {
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px white;
}

span {
    font-size: 2.2em;
    color:green;
}

footer:hover {
    text-shadow: 0 0 5px white;
    cursor: none;
    grid-area: footer;
}

h2 span:hover {
    color: white;
    text-shadow: 0 0 10px green;
}

.Cifa img{
    height: 6em;
    width: 10em;
    background-size: cover;
    padding: 1px auto;
}

header:hover .Cifa {
    opacity: 1;
}

nav {
    height: 99.5%;
    width: 0em;
    position: absolute;
    left: 0em;
    top: 0;
    background: rgb(10, 36, 10);
    transition: 0.3s;
    border-style: solid;
    border-width: 0.006em;
    border-color: #6C733D;
    border-radius: 0 20px 20px 0;
    overflow-x: hidden;
}
#Abrir{
    position: absolute;
    top: 4em;
    left: 10em;
    width: 10em;
    height: 3em;
    color: white;
    background-color: rgb(10,36,10);
    font-weight: bolder;
    border-radius: 4px;
}
#Abrir:hover{
    box-shadow: 0 0 10px rgb(10,36,10);
    text-shadow: 0 0 5px white;
}
#Cerrar{
    position: relative;
    top: 4em;
    left: 10em;
    width: 10em;
    height: 3em;
    color: white;
    background-color: rgb(10,36,10);
    font-weight: bolder;
    border-radius: 4px;
}
#Cerrar:hover{
    box-shadow: 0 0 10px white;
    text-shadow: 0 0 5px white;
}
.Contenido {
    grid-area: Contenido;
}

@media screen and (max-width: 800px) {
    .Todo {
        grid-template-areas: "header"
            "Contenido"
            "Cuerpo"
            "footer";
    }

    .Todo h2 {
        display: none;
    }

    .Todo h1 {
        display: block;
        position: relative;
        top: 5px;
        left: 160px;
    }

    .Contenido img {
        width: 730px;
        height: 500px;
    }

    nav ul {
        position: absolute;
        top: 65px;
    }
}

@media (orientation:portrait) and (max-width: 800px) {
    .Todo {
        grid-template-areas: "header"
            "Contenido"
            "Cuerpo"
            "footer";
    }

    .Todo h2 {
        display: none;
    }

    .Todo h1 {
        display: none;
    }

    .Contenido img {
        width: 410px;
        height: 200px;
    }

    .Cuerpo {
        margin-left: 30px;
        margin-right: 2px;
    }

    .Cuerpo h5 {
        margin-left: 20px;
    }

    nav ul {
        position: absolute;
        top: 65px;
    }

    .Cifa {
        position: absolute;
        right: 2px;
        top: 1px;
    }

    .Cuerpo {
        width: 400px;
        height: 400px;
        margin-left: 4px;
        margin-right: 2px;
    }

    .Cuerpo h3 {
        font-size: 1em;
    }

    .Cuerpo h5 {
        font-size: 1em;
        margin-left: 2px;
    }

    .Cuerpo p {
        font-size: 0.9em;
    }
}